<!DOCTYPE html>
<html>
<head>
<body>
  <title>My Facts Pt. 2</title>

  <h2>Some <i>more</i> interesting facts about me</h2>

  <figure>
    <img src="../images/twenty.jpg" width="300px" height="300" alt="twenty figure image">
    <figcaption>#6 I have always been the youngest among my friends, cousins, and class</figcaption>
  </figure>
  <figure>
    <img src="../images/disney.jpg" width="300px" height="300" alt="Disney castle">
    <figcaption>#7 I consider myself a Disney baby. I've gotten the yearly pass for Disneyland in CA, I've watched almost all the animated movies, and I was gifted Disney stuffed toys during birthdays and holidays. </figcaption>
  </figure>
  <figure>
    <img src="../images/pizza.jpg" width="300px" height="300" alt="Pizza with ham and pineapple">
    <figcaption>#8 I like hawaiian pizza</figcaption>
  </figure>
  <figure>
    <img src="../images/sleepingmask.jpg" width="300px" height="300" alt="cute animal sleeping masks">
    <figcaption>#9 I can't sleep without wearing a sleeping mask</figcaption>
  </figure>
  <figure>
    <img src="../images/puppy.jpg" width="300px" height="300" alt="Samoyed puppy">
    <figcaption>#10 Super determined to own a Samoyed in the future. It will be named after a cheese or flavor</figcaption>
  </figure>


  <a href="../index.html">Back to Basic</a>


</body>
</html>
